{
  "ConnectionStrings": {
    "DefaultConnection": "server=__HOST__;port=__PORT__;database=__DB__;user=__USER__;password=__PASSWORD__;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}